################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/Bzzb
/ConsoleApp1/bin
/ConsoleApp1/obj
/ConsoleApp2/bin
/ConsoleApp2/obj
/Trace/Trace1/bin
/Trace/Trace1/obj
/Trace2/bin
/Trace2/obj
/Trace3/bin/Debug/netcoreapp3.1
/Trace3/bin/Release/netcoreapp3.1
/Trace3/obj
/TraceMiddleWare/bin
/TraceMiddleWare/obj
/WebApplication1/bin
/WebApplication1/obj
/WebApplication1/logs
/WebApplication2/bin
/WebApplication2/logs
/WebApplication2/obj
/WebApplication3/bin
/WebApplication3/logs
/WebApplication3/obj
/WebApplication4/bin
/WebApplication4/logs
/WebApplication4/obj
